body {
    background-image: url('https://wallpapertag.com/wallpaper/full/e/d/e/653878-star-wars-background-wallpaper-1920x1080-for-htc.jpg');
    height: 100%;
    Width: 100%;
    overflow: hidden;
}

.intro {
    position : relative;
    top: 25vh;
    padding : 40px;
    width: 60%;
    opacity : 0;
    font-family: 'Russo One', sans-serif;
    color: #3290C7;
    font-size: 1.5em;
    z-index: 2;

    /* animation: Intro;
    animation-duration: 10s;
    animation-timing-function: linear; */
}

.logo { 
    position : absolute;
    top: 50vh;
    transform: translateY(-50%);
    width: 100vw;


    z-index: 3;
}

img{
    height: 75%;
    width: 75%;
    opacity: 0;
    margin-left: 12.5%;

    /* animation: logo;
    animation-duration: 12s;
    animation-delay: 10s;
    animation-timing-function: linear; */
}

#Container {
    display: flex;
    justify-content: center;
    height: 800px;
    width: 100%;
    perspective: 300px;


}

.contenu {
    position: relative;
    top: -100px;
    transform-origin: 50% 100%;
    font-size: 400%;
    font-weight: 600;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
    width: 100%;

    color: #F2E812; 
    opacity: 0;

    animation: starWars 50s linear 2s;
    
}


@keyframes starWars {
    0%   { 
        opacity: 1; 
        top: 0;
        transform: rotateX(20deg) translateZ(0px); 
    }

    100%  { 
        opacity: 1; 
        top: -6000px;
        transform: rotateX(20deg) translateZ(-2500px); 
    }
}


@keyframes Intro {
    0% { opacity: 0; }
    50%   { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes logo {
    0%    { 
        opacity: 0.8;
        height: 75%;
        width: 75%;
        margin-left: 12.5%;
    }
    5%    { 
        opacity: 1;
        height: 75%;
        width: 75%;
        margin-left: 12.5%;
    }

    50%  { 
        opacity: 1; 
        height: 37.5%;
        width: 37.5%;
        margin-left: 31.25%;
    }

    100%  { 
        opacity: 0; 
        height: 0%;
        width: 0%;
        margin-left: 50%;
    }
}
